@media (max-width: 768px) {
  .btns-sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .text-btn {
    font-size: 14px !important;
    font-weight: 300 !important;
  }

  .input-tasks {
    width: 100% !important;
  }
}
